/* 

1em = 16px

1rem = 16px

1.5em = 24px

100% = 16px

1px = 6.25%

*/

#units-section {
    width: 100%;
}

h1 {
    font-size: 40px;
}

#units {
    font-size: 18px;
}

#unit-1 {
    font-size: 2rem;
}

#unit-2 {
    font-size: 1.5em;
}

#unit-3 {
    font-size: 2em;
}

#difference ul li {
    font-size: 18px;
    line-height: 1.5;
    color: red;
}

#difference img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

h1 {
    text-align: center;
}