:root {
    --text-color: #22313f;
    --background-color: #22313f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#pricing-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
    letter-spacing: 0.5px;
    color: var(--text-color);
}

h1,
h2 {
    margin-left: 10px;
    margin-top: 15px;
}

.price {
    margin-top: 10px;
    font-size: 32px;
    letter-spacing: 1px;
}

.info-text {
    margin-top: 1px;
    font-size: 15px;
}

p {
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
}

#card-2 {
    background-color: var(--background-color);
    color: white;
}

#card-2 h1 {
    color: white;
}

button {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
    color: white;
    font-weight: 500;
}

#button-2 {
    background-color: white;
    color: var(--background-color);
}